/* filebar container */
.filebar {
  flex: 0 1 auto;
  background-color: #181818;
  font-family: Arial;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: #454545;
}

/* Links inside the filebar */
.filebar a {
  float: left;
  font-size: 14px;
  color: #d0d0d0;
  text-align: center;
  padding: 9px 1px;
  text-decoration: none;
}

.filebar .center {
  font-size: 14px;
  color: #d0d0d0;
  text-align: center;
  padding: 9px 10px;
  margin: 0;
  text-decoration: none;
  text-align: center;
}

.filebar .right {
  float: right;
  font-size: 14px;
  color: #d0d0d0;
  text-align: center;
  padding: 9px 10px;
  margin: 0;
  text-decoration: none;
}

.filebar .dropdown {
  float: left;
}

.media-section {
  background-color: #1f1f1f;
  overflow-y: auto;
}

.media-section .imported-files {
  padding: 10px;
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
}

[draggable=true] {
  cursor: grab;
}

.media-section .imported-files .file-preview {
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
}

.media-section .imported-files .file-preview .text {
  flex: 1 1 auto;
  color: #d0d0d0;
  text-align: center;
  padding: 0;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.media-section .imported-files .file-preview .icon {
  flex: 1 1 auto;
  color: #868686;
  width: 100%;
  height: 100%;
}

.media-section .imported-files .file-preview:hover {
  outline: #3c3c3c;
  outline-width: 2px;
  outline-style: solid;
  transition: 0.125s;
  background-color: #313131;
  border-radius: 8px;
}

.media-section .imported-files .file-preview.dragging {
  outline: #026ec1;
  outline-width: 2px;
  outline-style: solid;
  transition: 0.125s;
  background-color: #313131;
  border-radius: 8px;
}

.media-section .top-text {
  padding: 0;
  margin: 0;
  margin-left: 10px;
  font-size: 13px;
  font-weight: 400;
  color: #d0d0d0;
  padding-top: 6px;
  padding-bottom: 3px;
  text-decoration: none;
  user-select: none;
}

.player-section {
  background-color: #1f1f1f;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.player-section .video {
  width: 100%;
  height: 90%;
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  flex: 1 1 max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 100%;
  max-width: 100%;
}

.player-section video {
  width: 95%;
  height: 90%;
}

.player-section .video .spinner {
  position: fixed;
  width: 48px;
  height: 48px;
  border: 5px solid #FFF;
  border-bottom-color: transparent;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  transform: translate(0, -17px);
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.player-section .controls {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex: 0 1 auto;
}

.player-section .control-button {
  border-radius: 4px;
  color: #d0d0d0;
  width: 25px;
}

.player-section .control-button:hover {
  background-color: #3c3c3c;
  cursor: pointer;
  transition: 0.1s;
}

.player-section .control-button:active {
  background-color: #026ec1;
  transition: 0.1s;
}

.player-section .rotate-around {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.timeline-section {
  background-color: #313131;
  display: flex;
  flex-flow: column;
}

.timeline-section .top-bar-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 0 1 auto;
}

.timeline-section .time {
  color: #d0d0d0;
  padding: 0;
  margin: 0;
  margin-left: 5px;
}

.timeline-section .timeline-rows-scroll {
  overflow-y: auto;
  flex: 1 1 auto;
  display: flex;
}

.timeline-section .timeline-rows {
  display: flex;
  flex-direction: column;
}

.timeline-section .timeline-row {
  display: flex;
  height: 110px;
  flex: 0 0 auto;
  width: max-content;
}

.timeline-section .timeline-setting-row-separator {
  border-bottom-color: #454545;
  border-bottom-style: solid;
  border-bottom-width: 2px;
}

.timeline-section .timeline-editable-row-separator {
  border-bottom-color: #454545;
  border-bottom-style: solid;
  border-bottom-width: 2px;
}

.timeline-section .timeline-left-setting {
  height: 100%;
  width: min-content;
  border-right-color: #454545;
  border-right-style: solid;
  border-right-width: 2px;
}

.timeline-section .timeline-left-icon {
  height: 100%;
  width: auto;
  color: #868686;
}

.timeline-section .timeline-container {
  padding-left: 4px;
  display: flex;
}

.timeline-section .timeline-item {
  height: 100%;
  display: flex;
}

.timeline-section .name-container {
  background-color: #181818;
  color: #d0d0d0;
  border: 2px solid #313131;
  border-radius: 10px;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 18px;
  margin-bottom: 10px;
}

.timeline-section .name-container.drag-hover {
  filter: sepia(100%) saturate(0%) brightness(200%) hue-rotate(330deg);
}

.timeline-section .name-container:hover {
  border-color: #868686;
  transition: 0.15s;
}

.timeline-section .name-container:active {
  border-color: #026ec1;
  transition: 0.15s;
}

.timeline-section .divider-and-gear .gear-icon-transition {
  height: 20px;
  width: 20px;
}

.timeline-section .divider-and-gear .gear-icon-transition:hover {
  background-color: #535353;
  border-radius: 50%;
  outline-color: #535353;
  outline-style: solid;
  outline-width: 2px;
}

.timeline-section .divider-and-gear .gear-icon-transition:active {
  outline-color: #026ec1;
  outline-style: solid;
  outline-width: 2px;
}

.timeline-section .divider-and-gear {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -20px;
}

.timeline-section .timeline-vert-divider {
  border-left: 2px solid #868686;
  height: 40%;
  margin-top: 5px;
}

.gear-icon-transition {
  color: #868686;
}

.timeline-section .timeline-settings-rows {
  display: flex;
  flex-direction: column;
  width: max-content;
  background-color: #313131;
  z-index: 10;
}

.timeline-section .timeline-editable-rows {
  height: min-content;
  display: grid;
  flex-direction: column;
  overflow-x: auto;
  padding-bottom: 14px;
  width: 100%;
}

.timeline-section .timeline-gear-button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

/* The dropdown container */
.timeline-section .timeline-dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.timeline-section .timeline-dropdown .timeline-gear-button {
  font-size: 14px;
  border: none;
  outline: none;
  color: #d0d0d0;
  background-color: inherit;
  font-family: inherit;
  /* Important for vertical align on mobile phones */
  margin: 0;
  /* Important for vertical align on mobile phones */
}

/* Dropdown content (hidden by default) */
.timeline-section .gear-dropdown-content {
  display: none;
  position: absolute;
  background-color: #1f1f1f;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 6px;
}

/* Links inside the dropdown */
.timeline-section .gear-dropdown-content a {
  float: none;
  color: #d0d0d0;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.timeline-section .gear-dropdown-content a:hover {
  background-color: #026ec1;
  border-radius: 6px;
}

/* Show the dropdown menu on hover */
.timeline-section .timeline-dropdown:hover .gear-dropdown-content {
  display: block;
}

.timeline-scrub-container {
  height: 1em;
  min-height: 1em;
  max-height: 1em;
  width: 100%;
}

.timeline-scrub {
  position: relative;
  background-color: #026ec1;
  border-radius: 50%;
  height: 0.75em;
  width: 0.75em;
  left: 30px;
  top: 0.1em;
  z-index: 5;
}

.timeline-scrub:hover {
  outline-color: #d0d0d0;
  outline-width: 2px;
  outline-style: solid;
  transition: 0.125s;
}

.timeline-scrub-settings {
  width: 110px;
  max-width: 110px;
  min-width: 110px;
  background-color: #313131;
  border-right-color: #454545;
  border-right-style: solid;
  border-right-width: 2px;
  z-index: 20;
}

.timeline-scrub::before {
  content: "";
  position: absolute;
  pointer-events: none;
  width: 0.125em;
  height: calc(220px + 0.375em + 0.1em);
  transform: translate(0.3125em, 10px);
  z-index: 5;
  background-color: #026ec1;
}

.separator-div-col {
  width: 2px;
  height: 100%;
  background: #454545;
}

.separator-div-row {
  height: 2px;
  width: 100%;
  background: #454545;
}

.spliter-div-col {
  width: 2px;
  height: 100%;
  background: #454545;
  cursor: col-resize;
  transform: scale(1, 1);
}

.spliter-div-col:hover {
  transform: scale(2, 1);
  transition: 0.15s;
  background: #026ec1;
}

.spliter-div-col::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 100%;
  transform: translate(-40%, 0%);
  z-index: 20;
}

.vertical-div-split {
  display: flex;
  height: 100%;
}

.vertical-div-split-left {
  flex: 1 1 auto;
  min-width: 20%;
  max-width: 80%;
}

.vertical-div-split-right {
  flex: 1 1 auto;
  min-width: 20%;
  max-width: 80%;
}

.spliter-div-row {
  height: 2px;
  width: 100%;
  background: #454545;
  cursor: row-resize;
  transform: scale(1, 1);
}

.spliter-div-row:hover {
  transform: scale(1, 2);
  transition: 0.15s;
  background: #026ec1;
}

.spliter-div-row::before {
  content: "";
  position: absolute;
  height: 8px;
  width: 100%;
  transform: translate(0%, -40%);
  z-index: 2;
}

.horizontal-div-split {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.horizontal-div-split-top {
  flex: 1 1 auto;
  min-height: 20%;
  max-height: 80%;
}

.horizontal-div-split-bottom {
  flex: 1 1 auto;
  min-height: 20%;
  max-height: 80%;
}

.file_container {
  pointer-events: none;
}

.floating-menu {
  position: absolute;
  z-index: 999999999;
  background-color: #1f1f1f;
  color: #d0d0d0;
  user-select: none;
  left: 200%;
  transform: translate(-50%, -50%);
  outline-color: #026ec1;
  outline-width: 2px;
  outline-style: solid;
  border-radius: 5px;
  padding: 5px;
  opacity: 1;
}

.floating-menu.hide {
  animation: floatingMenuAni 3s forwards;
  opacity: 0;
}

@keyframes floatingMenuAni {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes floatingMenuAni {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.transition-menu {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(1, 1, 1, 0.5);
  z-index: 99999999;
}
.transition-menu .transition-menu-content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 0.6em;
  background-color: #1f1f1f;
  border-radius: 5px;
  border-width: 2px;
  border-color: #454545;
  border-style: solid;
  color: #d0d0d0;
}
.transition-menu .title {
  text-align: center;
  width: 100%;
  display: block;
  border-bottom-color: #454545;
  border-bottom-style: solid;
  border-bottom-width: 2px;
}
.transition-menu .dropdown {
  background-color: #181818;
  border-style: solid;
  border-radius: 5px;
  border-color: #454545;
  border-width: 2px;
  color: #d0d0d0;
  margin-left: 5px;
}
.transition-menu .dropdown:hover {
  background-color: #3c3c3c;
}
.transition-menu button {
  background-color: #181818;
  border-style: solid;
  border-radius: 5px;
  border-color: #454545;
  border-width: 2px;
  color: #d0d0d0;
}
.transition-menu button:hover {
  background-color: #3c3c3c;
}
.transition-menu button:active {
  background-color: #3c3c3c;
  border-color: #026ec1;
}

.transition-menu.show {
  display: unset;
}

.transition-menu.hide {
  display: none;
}

/* The dropdown container */
.dropdown {
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 14px;
  border: none;
  outline: none;
  color: #d0d0d0;
  padding: 9px 10px;
  background-color: inherit;
  font-family: inherit;
  /* Important for vertical align on mobile phones */
  margin: 0;
  /* Important for vertical align on mobile phones */
}

.dropdown.options .dropbtn {
  padding: 2px 2px;
}

.dropdown .dropbtn:hover {
  background-color: #3c3c3c;
}

.dropdown .dropbtn:active {
  background-color: #026ec1;
}

.dropdown.active .dropbtn:active {
  background-color: #026ec1;
}

/* Add a red background color to filebar links on hover */
a.active,
.dropdown.active .dropbtn {
  background-color: #3c3c3c;
}

.arrow {
  border: solid #d0d0d0;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #1f1f1f;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 6px;
  border-color: #454545;
  border-width: 1px;
  border-style: solid;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: #d0d0d0;
  /* padding: 12px 16px; */
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #3c3c3c;
  border-radius: 6px;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:active {
  background-color: #026ec1;
  border-radius: 6px;
}

/* Show the dropdown menu on hover */
.dropdown.active .dropdown-content {
  display: block;
}

.project-creation {
  background-color: #1f1f1f;
  overflow-y: auto;
  overflow-x: hidden;
}

.project-creation .imported-files {
  padding: 10px;
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
}

.project-creation .imported-files .file-preview {
  width: 130px;
  height: 130px;
  display: flex;
  flex-direction: column;
}

.project-creation .imported-files .file-preview .text {
  flex: 1 1 auto;
  color: #d0d0d0;
  text-align: center;
  padding: 0;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.project-creation .imported-files .file-preview .icon {
  flex: 1 1 auto;
  color: #868686;
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.project-creation .imported-files .file-preview:hover {
  outline: #3c3c3c;
  outline-width: 2px;
  outline-style: solid;
  transition: 0.125s;
  background-color: #313131;
  border-radius: 8px;
}

.project-creation .imported-files .file-preview.dragging {
  outline: #026ec1;
  outline-width: 2px;
  outline-style: solid;
  transition: 0.125s;
  background-color: #313131;
  border-radius: 8px;
}

.project-creation .top-text {
  padding: 0;
  margin: 0;
  margin-left: 10px;
  font-size: 25px;
  font-weight: 500;
  color: #d0d0d0;
  padding-top: 6px;
  padding-bottom: 3px;
  text-decoration: none;
  user-select: none;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  height: 100vh;
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-weight: 400;
  background-color: #1f1f1f;
  scrollbar-width: thin;
}

.page-contents {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#blackout {
  background-color: #1f1f1f;
  width: 100%;
  height: 100%; /* make sure you have set parents to a height of 100% too*/
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 13px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #868686;
  border-radius: 15px;
  border: 5px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  border: 3px solid transparent;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 100;
  top: 110%;
  left: 50%;
  transform: translate(-50%);
  opacity: 0;
  transition-property: opacity;
  transition-duration: 0.15s;
  transition-delay: 1.5s;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  bottom: 100%; /* At the top of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.tooltip .tooltiptext {
  width: min-content;
}

.tooltip:hover .tooltiptext {
  opacity: 1;
  visibility: visible;
}

.text-input {
  border-width: 1px;
  border-style: solid;
  border-color: #868686;
  background-color: #181818;
  color: #d0d0d0;
}

input[type=file] {
  display: none;
}

.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

/*# sourceMappingURL=main.css.map */
