$primary-text-color: #d0d0d0;

$background-menu-color: #181818;
$background-menu-hover-color: #3c3c3c;

$background-dropdown-color: #1f1f1f;
$background-dropdown-hover: #026ec1;


$background-content-color: #313131;