$primary-text-color: #d0d0d0;

$filemenu-background-color: #181818;
$filemenu-hover-color: #3c3c3c;
$filemenu-border: #454545;

$dropdown-background-color: #1f1f1f;
$dropdown-hover-color: #026ec1;


$content-background-color: #1f1f1f;



$error-color: #f85149;

$badge-background: #313131;