@import "colors";
/* filebar container */
.filebar {
  flex: 0 1 auto;
  // overflow: hidden;
  background-color: $filemenu-background-color;
  font-family: Arial;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: $filemenu-border;
}

/* Links inside the filebar */
.filebar a {
  float: left;
  font-size: 14px;
  color: $primary-text-color;
  text-align: center;
  padding: 9px 01px;
  text-decoration: none;
}

.filebar .center {
  font-size: 14px;
  color: $primary-text-color;
  text-align: center;
  padding: 9px 10px;
  margin: 0;
  text-decoration: none;
  text-align: center;
}

.filebar .right {
  float: right;
  font-size: 14px;
  color: $primary-text-color;
  text-align: center;
  padding: 9px 10px;
  margin: 0;
  text-decoration: none;
}

.filebar .dropdown {
  float: left;
}