@import "colors";
/* filebar container */
.filebar {
  overflow: hidden;
  background-color: $background-menu-color;
  font-family: Arial;
}

/* Links inside the filebar */
.filebar a {
  float: left;
  font-size: 14px;
  color: $primary-text-color;
  text-align: center;
  padding: 9px 01px;
  text-decoration: none;
}

.filebar .center {
  font-size: 14px;
  color: $primary-text-color;
  text-align: center;
  padding: 9px 10px;
  margin: 0;
  text-decoration: none;
  text-align: center;
}

.filebar .right {
  float: right;
  font-size: 14px;
  color: $primary-text-color;
  text-align: center;
  padding: 9px 10px;
  margin: 0;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 14px;
  border: none;
  outline: none;
  color: $primary-text-color;
  padding: 9px 10px;
  background-color: inherit;
  font-family: inherit;
  /* Important for vertical align on mobile phones */
  margin: 0;
  /* Important for vertical align on mobile phones */
}

/* Add a red background color to filebar links on hover */
.filebar a:hover,
.dropdown:hover .dropbtn {
  background-color: $background-menu-hover-color;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: $background-dropdown-color;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 6px;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: $primary-text-color;
  /* padding: 12px 16px; */
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: $background-dropdown-hover;
  border-radius: 6px;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}