@import "colors";
@import "filebar";
@import "media_section";
@import "player_section";
@import "timeline_section";
@import "spliter";

html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden; 
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-weight: 400;
}
