@import "colors";


.player-section {
    background-color: $content-background-color;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    display: flex;
}

.player-section .video {
    width: 100%;
    height: 90%;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    flex: 1 1 max-content;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    max-height: 100%;
    max-width: 100%;
}

.player-section video {
    width: 95%;
    height: 90%;
}

.player-section .video .spinner{
    position: fixed;
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    transform: translate(0, -17px);
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} 


.player-section .controls {
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex: 0 1 auto;
}

.player-section .control-button{
    border-radius: 4px;
    color: $primary-text-color;
    width: 25px;
}

.player-section .control-button:hover{
    background-color: $filemenu-hover-color;
    cursor: pointer;
    transition: 0.1s;
}

.player-section .control-button:active{
    background-color: $dropdown-hover-color;
    transition: 0.1s;
}

.player-section .rotate-around {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}