@import "colors";

.timeline-section{
    background-color: $badge-background;
    display: flex;       
    flex-flow: column;
}

.timeline-section .top-bar-container{  
    display: flex;   
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 0 1 auto;
}


.timeline-section .time{
    color: $primary-text-color;
    padding: 0;
    margin: 0;
    margin-left: 5px;
}

.timeline-section .timeline-rows-scroll{
    overflow-y: scroll;
    flex: 1 1 auto;
}

.timeline-section .timeline-rows{
    display: flex;
    flex-direction: column;
}

.timeline-section .timeline-row{
    display: flex;
    height: 100px;
    border-bottom-color: $filemenu-border;
    border-bottom-style: solid;
    border-bottom-width: 2px;
}

.timeline-section .timeline-left-setting{
    height: 100px;
    width: min-content;
    border-right-color: $filemenu-border;
    border-right-style: solid;
    border-right-width: 2px;
}

.timeline-section .timeline-left-icon{
    height: 100%;
    width:auto;
}

.timeline-section .timeline_container{
    width: 100%;
    height: 100%;
    display: flex;
    background-color: green;
}