@import "colors";

.timeline-section{
    background-color: $badge-background;
    display: flex;       
    flex-flow: column;
}

.timeline-section .top-bar-container{  
    display: flex;   
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 0 1 auto;
}


.timeline-section .time{
    color: $primary-text-color;
    padding: 0;
    margin: 0;
    margin-left: 5px;
}

.timeline-section .timeline-rows-scroll{
    overflow-y: scroll;
    flex: 1 1 auto;
}

.timeline-section .timeline-rows{
    display: flex;
    flex-direction: column;
}

.timeline-section .timeline-row{
    display: flex;
    height: 110px;
    border-bottom-color: $filemenu-border;
    border-bottom-style: solid;
    border-bottom-width: 2px;
}

.timeline-section .timeline-left-setting{
    height: 100%;
    width: min-content;
    border-right-color: $filemenu-border;
    border-right-style: solid;
    border-right-width: 2px;
}

.timeline-section .timeline-left-icon{
    height: 100%;
    width: auto;
    color: $light-icon
}

.timeline-section .timeline-container{
    width: 100%;
    max-height: 100%;
    padding-top: 18px;
    padding-left: 4px;
    display: flex;
}

.timeline-section .timeline-item{
    height: 100%;
    display: flex;
}

.timeline-section .name-container{
    width: 200px;
    max-height: calc(100% - 15px - 2px);
    // height: 100%;
    background-color: $filemenu-background-color;
    color: $primary-text-color;
    border: 2px solid $dropdown-hover-color;
    border-radius: 10px;
    
    display:flex;
    justify-content:center;
    align-items:center;
}

.timeline-section .divider-and-gear{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;

    svg {
        height: 20px;
        width: 20px;
    }

    a {
        padding: 9px 1px;
    }
    
    margin-top: -40px;
}

.timeline-section .timeline-vert-divider{
    border-left: 2px solid $light-icon;
    height: 40%;
    margin-top: 5px;
    // padding-left: 9px;
}

.gear-icon-transition{
    color: $light-icon;
}